/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree . 
 */


h1, h2, h3, h4, h5, h6, button{
	font-family: "Myriad Pro";
}
a {
	cursor: pointer;
}
.hr-row {
	height: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-color: #aaa;
}

span.num-badge {
	border-radius: 20px 20px 20px 20px;
	width: 32px;
	height: 24px;
	text-align: center;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #ccc;
	padding-top: 5px;
	
	font-size: 200;
	margin-top: 15px;
	font-weight: bold;
	color: #444;
}



.navbar.navbar-fixed-top.navbar-inverse {
	margin-bottom: 0px;
	.navbar-inner {
		background: none;
		background-color: #313131 !important;
		padding-top: 10px;
		padding-bottom: 10px;

		.container {
			.nav-collapse.collapse {
				ul.nav {
					li {						
						border-radius: 3px 3px 3px 3px;
						background-color: #262626;
						margin-left: 1px;
						a {

						}
					}
				}

				.social.pull-right {
					margin-right: 0px;
					margin-left: 0px;					
					height: 40px;
					padding-right: 10px;
					a {
						text-align: center;
						float: left;
						margin-top: 3px;
						margin-right: 5px;
						border-radius: 4px 4px 4px 4px;
						width: 20px;
						background-color: #414141;
						padding: 10px 10px 10px 10px;
						color: #999;					
						display: inline-block;	
					}
					a:hover {
						color: #eee;
						text-decoration: none;
					}

	
					.input-append {
						margin-top: 2px;
						display: inline-block;

						input[type='text'] {
							display: inline-block;
							margin-left: 5px;

							border-color: #444;
							margin-top: 4px;
							width: 150px;
							background-color: #262626;
							color: #999;
							z-index: 1;
						}
						span.add-on {
							position: relative;
							margin-top: 5px;
							z-index: 10;
							margin-left: -30px;
							border: none;
							background-color: #262626;
							i {
								color: #aaa;
							}
						}
					}
				}
			}
		}
	}
}

.banner-heading{		
	background-color: #008dde;
	.container {
		.navbar-inner {	
			box-shadow: none;	
			border: none;
			padding-left: 10px;
			background: none;
			background-color: #008dde;

			h1{
				font-size: 250%;
				color: white;
				font-weight: 900;
			}
			.span8 {
				padding-top: 5px;
				p {
					padding-top: 10px;
					margin-bottom:0px;
					button {
						margin-top: 10px;
					}
				}
			}
			p {
				color: #ddd;
			}
		}
	}
}

.most-filter {
	background-color: #ececec;
	padding: 15px 0px 15px 0px;

	span {
		margin-left: 20px;
	}
	.btn-group {						
		margin-left: 20px;
	}
}


footer{
	background-color: #ececec;
	.container {		
		padding-top: 20px;
		padding-bottom: 20px;

		span.copyright {
			float: left;
		}

		span.footer-link{
			float: right;				
		}
	}
}
