.navbar.navbar-fixed-top.navbar-inverse
	.navbar-inner
		.container
			%button.btn.btn-navbar.collapsed{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			= link_to image_tag("logo.png", class: "brand"), home_index_path
			.nav-collapse.collapse
				%ul.nav
					= tab_tag('Songs', home_songs_path)
					= tab_tag('Artists', home_artists_path)
					= tab_tag('About Us', home_about_us_path)
				%ul.nav.pull-right
					%li
						%a.icon-facebook{href: "http://facebook.com"}
					%li
						%a.icon-twitter{href: "http://twitter.com"}
					%li
						%a.icon-rss{href: "http://rss.com"}
					%li.search
						%form.navbar-form.pull-right
							%input.icon-search{type:"text", placeholder: "Search"}
							%i.icon-search
							
